::v-deep(.v-table__wrapper) > table
{
  border-collapse: separate !important;
  border-spacing: 0 1.25rem !important;
}

.launch-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
